<template name="managerTaskDetail">
  <legend>{{NAME}} <span class="label label-inverse">{{ASSIGNED_NAME}}</span></legend>
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <a>
        <div class="row">
          <div class="span4">Subtask</div>  
          <div class="span4">Status</div>
        </div>
      </a>
    </li>
    
    {{#each SUBTASKS}}
      <li>
        <a>
          <div class="row">
            <div class="span4">{{name}}</div> 
            <div class="span4">{{status}}</div>
          </div>
        </a>
      </li>
    {{/each}}
  </ul>
</template> 