<template name="managerStatusList">
  <legend>{{name}}</legend>
  <ul class="nav nav-tabs nav-stacked">
    {{#each counts}}
      <li>
        {{#if count}}
          <a href="#managerTaskList/filter?field=status&value={{status}}">
        {{else}}
          <a>
        {{/if}}
            <div class="row">
              <div class="span1">{{statusName}}</div>
              <div class="span1"><span class="label {{#if count}}{{statusLabel}}{{/if}}"> {{count}} </span></div>
            </div>
          </a>
      </li>
    {{/each}}
  </ul>
</template>