<template name="managerTaskDetails">
  {{#with task}}
    <legend>{{name}}</legend>
    <ul class="nav nav-pills nav-stacked">
      <li class="active">
        <a>
          <div class="row-fluid">
            <div class="span4">Subtask</div>  
            <div class="span4">Status</div>
          </div>
        </a>
      </li>
    
      {{#each subtasks}}
        <li class="disabled">
          <a>
            <div class="row-fluid">
              <div class="span4">{{name}}</div> 
              <div class="span1"><span class="btn {{btn status}} btn-tick"></span></div>
            </div>
          </a>
        </li>
      {{/each}}
    </ul>
    
    <a href="/tasks/{{_id}}/assign"  class="btn btn-primary">{{displayName staffId}}</a> 
  {{/with}}
</template> 