<template name="nav">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        {{#if currentUser}}
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        {{/if}}
        <a class="brand" href="/" >Task Manager</a>

        <div class="nav-collapse">
          <ul class="nav">
            {{#if currentUser}}
              <li class="{{navClassFor 'tasks'}}">
                <a href="/tasks">Tasks</a>
              </li>
              <li class="{{navClassFor 'profile'}}">
                <a href="/profile">Profile</a>
              </li>
              <li>
                <a id='logout'>Logout</a>
              </li>  
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>