<template name="staffTaskDetailsSubtask">
  <li>
    <a>
      <div class="row">
        <div class="span6">{{name}}</div> 
        <div class="span1"><span id="G" class="btn btn-success btn-tick update-subtask-status">{{tick "G"}}</span></div>
        <div class="span1"><span id="Y" class="btn btn-warning btn-tick update-subtask-status">{{tick "Y"}}</span></div>
        <div class="span1"><span id="R" class="btn btn-danger btn-tick update-subtask-status">{{tick "R"}}</span></div>
      </div>
    </a>
  </li>
</template>