<template name="staffTaskListItem">
  <li>
    <a href="/tasks/{{_id}}">
      <div class="row-fluid">
        <div class="span3">{{name}}</div> 
        {{#if isColor "G"}}
          <div class="span1"><span id="G" class="btn {{btn 'G'}} btn-tick"></span></div>
        {{/if}}
        {{#if isColor "Y"}}
          <div class="span1"><span id="Y" class="btn {{btn 'Y'}} btn-tick"></span></div>
        {{/if}}
        {{#if isColor "R"}}
          <div class="span1"><span id="R" class="btn {{btn 'R'}} btn-tick"></span></div>
        {{/if}}
      </div>
    </a>
  </li>
</template>