<template name="staffTaskListItem">
  <li>
    <a href="{{staffTaskDetailsPath}}">
      <div class="row">
        <div class="span3">{{name}}</div> 
        {{#if isColor "G"}}
          <div class="span1"><span id="G" class="btn btn-success btn-tick"></span></div>
        {{/if}}
        {{#if isColor "Y"}}
          <div class="span1"><span id="Y" class="btn btn-warning btn-tick"></span></div>
        {{/if}}
        {{#if isColor "R"}}
          <div class="span1"><span id="R" class="btn btn-danger btn-tick"></span></div>
        {{/if}}
      </div>
    </a>
  </li>
</template>