<template name="staffSubtaskListItem">
  <li class="disabled">
    <a>
      <div class="row">
        <div class="span4">{{name}}</div> 
        <div class="span1"><span id="G" class="btn {{btn 'G'}} btn-tick update-subtask-status">{{tick "G"}}</span></div>
        <div class="span1"><span id="Y" class="btn {{btn 'Y'}} btn-tick update-subtask-status">{{tick "Y"}}</span></div>
        <div class="span1"><span id="R" class="btn {{btn 'R'}} btn-tick update-subtask-status">{{tick "R"}}</span></div>
      </div>
    </a>
  </li>
</template>